spring:
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: test-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    url: jdbc:postgresql://localhost:34568/tariffs_db
    driverClassName: org.postgresql.Driver
    username: myuser
    password: mypassword
    jpa:
      hibernate:
        ddl-auto: update
  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 6790
